<br>
<br>
<div class="count-job mb-35">
    <span>Companies</span>
    </div>
<div class="single-job-items mb-30" *ngFor="let company of companies">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>{{company.company_name}}</h4>
            </a>
            <ul>
                <li>{{company.secteur}}</li>
                <li><i class="fas fa-map-marker-alt"></i>{{company.email}}</li>
                <li>{{company.location}}</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">{{company.website}}</a>
        <span>{{company.description}}</span>
    </div>
</div>
