<br>
<br>
<div class="count-job mb-35">
    <span>Companies</span>
    <!-- Select job items start -->
    </div>
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>Digital Marketer</h4>
            </a>
            <ul>
                <li>Creative Agency</li>
                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                <li>$3500 - $4000</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">View</a>
        <span>7 hours ago</span>
    </div>
</div>
<!-- single-job-content -->
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="assets/img/icon/job-list2.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>Digital Marketer</h4>
            </a>
            <ul>
                <li>Creative Agency</li>
                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                <li>$3500 - $4000</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">Full Time</a>
        <span>7 hours ago</span>
    </div>
</div>
<!-- single-job-content -->
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="assets/img/icon/job-list3.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>Digital Marketer</h4>
            </a>
            <ul>
                <li>Creative Agency</li>
                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                <li>$3500 - $4000</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">Full Time</a>
        <span>7 hours ago</span>
    </div>
</div>
<!-- single-job-content -->
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="assets/img/icon/job-list4.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#">
                <h4>Digital Marketer</h4>
            </a>
            <ul>
                <li>Creative Agency</li>
                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                <li>$3500 - $4000</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="job_details.html">Full Time</a>
        <span>7 hours ago</span>
    </div>
</div>