


<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="count-job mb-35">
                    <h1>{{companiesFound}} companies Found</h1>
                    <!-- Select job items start -->
                    <div class="my-2">
                    </div>  
                    <!--  Select job items End-->
                </div>
            </div>
        </div>
        <div class="single-job-items mb-30" *ngFor="let company of getCurrentPageCompanies()">
            <div class="job-items">
                <div class="company-img">
                    <a href="#"><img style="max-width: 100px; max-height: 100px;" [src]="company.logo" alt=""></a>
                </div>
                <div class="job-tittle job-tittle2">
                    <a href="#">
                        <h4>{{company.company_name}}</h4>
                    </a>
                    <ul style="display:inline;">
                        <li><h3>{{company.secteur}}</h3></li>
                        <li><h3>{{company.email}}</h3></li>
                    </ul>
                    <p>{{company.description}}</p>
                </div>
            </div>
            <div class="items-link items-link2 f-right">
                <li><h3><i class="fas fa-map-marker-alt"></i> {{company.location}} </h3></li>
                <li><a>{{company.website}} </a></li>

                
            </div>
            
            
        </div>
    </div>
</div>

<div class="pagination-area pb-115 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                                <a class="page-link" (click)="changePage(pageNumber)">{{ pageNumber }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
