<app-app-navbar></app-app-navbar>
<div class="online-cv cv-bg section-overly" style="height:100px">

  <div class="slider-area " >
    <div class="single-slider section-overly  d-flex align-items-center" style="height:100px">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your job,I mean your DREAM job</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

 
  <div class="container">
    
    <router-outlet></router-outlet>

  </div>
  <app-app-footer></app-app-footer>