<div class="online-cv cv-bg section-overly" >
    <img src="assets/img/hero/h1_hero.jpg" class="img-fluid" alt="...">
  
    <div class="slider-area ">
      <div class="single-slider section-overly  d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>