<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	
   </head>

   <body>
    <!-- Preloader Start -->

    <!-- Preloader Start -->

    <main>

    
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                  
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                            <span>{{Applications_found}} Jobs found</span>
                                            <!-- Select job items start -->
                                            <div class="select-job-items">
                                                <span>Sort by</span>
                                                <select name="select">
                                                    <option value="">None</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                </select>
                                            </div>
                                            <!--  Select job items End-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <!-- single-job-content -->
                                <div class="single-job-items mb-30" *ngFor="let job of getCurrentPageJobs()">
                                    <div class="job-items">
                                        <div class="company-img">
                                            <a [routerLink]="'/jobs/jobdetails/' + job._id"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                        </div>
                                        <div class="job-tittle job-tittle2">
                                            <a [routerLink]="'/jobs/jobdetails/' + job._id">
                                                <h4>{{job.job_name}}</h4>
                                            </a>
                                            <ul>
                                                <div *ngFor="let company of companys">
                                                    <li *ngIf="company._id===job.society_id"> {{company.company_name}}</li>
                                                </div>
                                                
                                                <li><i class="fas fa-map-marker-alt"></i>{{job.Location}}</li>
                                                <li>{{job.salaire}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="items-link items-link2 f-right" *ngFor="let application of applications">
                                        <a  [routerLink]="'/jobs/jobdetails/' + job._id" *ngIf="application.job_id===job._id">{{job.job_type}}</a>
                                        <span *ngIf="application.job_id===job._id">Postuled : {{ application.applicationDate | date:'yyyy-MM-dd' | slice:0:10 }}</span>
                                    </div>
                                </div>
                          
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
      
       <!-- Après la boucle *ngFor -->
<div class="pagination-area pb-115 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                                <a class="page-link" (click)="changePage(pageNumber)">{{ pageNumber }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
 
    </main>
    
     
    </body>
</html>