<h1 mat-dialog-title>New Company</h1>
<div mat-dialog-content>
  <form [formGroup]="companyForm" (submit)="submitForm()">
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Company Name:</label>
      <input type="text" formControlName="company_name" class="form-control" id="recipient-name">
    </div>
   
    <div class="form-group">
      <label for="message-text" class="col-form-label">Description:</label>
      <textarea class="form-control" formControlName="description" id="message-text"></textarea>
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Secteur:</label>
      <input type="text" class="form-control" formControlName="secteur" id="recipient-name">
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Email:</label>
      <input type="text" class="form-control" formControlName="email" id="recipient-name">
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Location:</label>
      <input type="text" formControlName="location" class="form-control" id="recipient-name">
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Website:</label>
      <input type="text" class="form-control"  formControlName="website" id="recipient-name">
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Logo:</label>
      <input type="file" formControlName="logo" (change)="onFileSelected($event)" accept="image/*">    </div>
  </form>

</div>
<div  class="custom-dialog-actions ml-190">
  <button mat-button (click)="submitForm()">Save</button>
  <button mat-button (click)="close()" >Cancel</button>
  
</div>
